.breadcrumbCurrentStatus{
    margin-bottom: 10px;
    color:#0e49e1;
}
  
@media screen and (max-width: 576px) {
    .instruction-text{
      font-size: 13px;
    }
    .header {
        font-size: 22px;
      }
      .submit-btn{
        width:10%
    } 
    .bottom-card-text{
      font-size: 14px;
    }
    .submit-container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100%;
      float: right;
    }
    
    .card-btn {
      align-self: flex-end;
      margin-right: 5px;
    } 
        
  }
  
  @media screen and (min-width: 577px) and (max-width: 992px) {
    .header {
      font-size: 26px;
    }
    
      .submit-btn{
        width:10%
    } 
    .instruction-text{
        font-size: 14px;
      }
      .bottom-card-text{
        font-size: 15px;
      }
      .submit-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        float: right;
      }
      
      .card-btn {
        align-self: flex-end;
        margin-right: 10px;
      }
  }
  
  @media screen and (min-width: 1200px){
    .instruction-text{
      font-size: 15px;
    }
    .header {
      font-size: 26px;
    }
    
      .submit-btn{
        width:10%
    } 
    .submit-container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100%;
      float: right;
    }
    
    .card-btn {
      align-self: flex-end;
      margin-right: 5px;
    }
  }
 
  