.error-margin .ant-form-item-explain {
    margin-bottom: 10px;
    /* Adjust the margin value as needed */
}


.submit-btn-1 {
    width: 150px;
    border-color: $btn-bg !important;
    background: $btn-bg !important;
    color: white !important;
    padding: .3em 1em 2em 1em !important;
    font-size: 13px !important;

    &:hover {
        background: #ffffff !important;
        border: 1px solid $btn-bg !important;
        color: $btn-bg !important;
    }
}

@media screen and (max-width: 576px) {

    #get-chapta{
        width: 30% !important;
        margin-top: 10px;
    }

    #btn-load{
        width: 30% !important;
        margin-top: 10px;
    }

    .ref-num-col{
        padding-right: 0 !important;
    }
  }
  
  @media screen and (min-width: 577px) and (max-width: 992px) {
    #get-chapta{
        width: 30% !important;
        margin-top: 10px;
    }

    #btn-load{
        width: 30% !important;
        margin-top: 10px;
    }

    .ref-num-col{
        padding-right: 0 !important;
    }
      
  }

  @media screen and (min-width: 993px) and (max-width: 1199px) {
    #get-chapta{
        width: 100% !important;
    }

    #btn-load{
        width: 100% !important;
    }
      
  }


  //Xl Screen
  @media screen and (min-width: 1200px){
    #get-chapta{
        width: 100% !important;
    }

    #btn-load{
        width: 100% !important;
    }



      
  }