.navbar{
    background-color: #0c2461;
    .logo{
        margin:10px 0 10px 30px;
        width:40%;
    }
    .header{
        margin:1.5% 0 0 2%;
         color:#ffff;
        font-weight:bold; 
        font-size:30px;
    }    
}